header{
    display: flex;
    background-color: #0d6ca3;
    padding: 20px;
    width: 1150px;
}
.i1{
    width: 37px;
    height: 32PX;
    margin-left: 50px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-left: 50px;
}
body{
    background-color: rgb(47, 206, 255);
    font-family: 'Jost', sans-serif;
}
.d2{
    margin-left: 10px;
}